  <div class="homepage">
    <strong>Welcome to the Room Service feedback application</strong>
    <img id="drag1" src="<%= asset_path('safainew.jpg') %>" draggable="true" ondragstart="drag(event)" width="1024" height="768">
  </div>
