<% if (!user_signed_in?&&!admin_signed_in?) %>
  <div class="jumbotron">
    <h1>Your Favorite Worker Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @workers.each do |worker| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag worker.image.url(:small), class: 'image'), worker %>
      </div>
    </div>
  <% end %>
</div>
<% if current_admin %>
<%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
<% elsif current_user %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>
